<footer class="Footer">
  <div class="Footer-top">
    <div class="Name">© 2025 BNBooking</div>
    <div class="MadeBy">Made with ❤️ by OM</div>
    <div class="Icon">
      <a href="https://github.com/hardbuilder"><i class="fa-brands fa-github"></i></a>
      <a href=""><i class="fa-brands fa-x-twitter"></i></a>
      <a href="https://www.instagram.com/being_oomm/"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/omtakale/"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
  </div>

  <div class="Footer-links">
    <a href="#">Privacy Policy</a>
    <a href="#">Terms of Service</a>
    <a href="#">Contact</a>
    <a href="#">Help</a>
  </div>
</footer>
